
.form-item,.form-item-label,.form-item-content-wrapper,.form-calender-picker,.form-item-input {
    display: inline-block;
}
.form-item {
    float: left;
}

.form-item-content-wrapper {

}

span.form-calender-picker i {
    left: 6.6em;
    top: 0.4em;
}