{% block doc -%}
<!DOCTYPE html>
<html lang="zh-CN" {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {%- block metas %}
    {%- endblock metas %}

    {%- block head %}
    <title>Flask Neo4j Echarts - {% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/static/favicon.ico">

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/jquery.min.js"></script>
    <!-- 引入 moments 文件 -->
    <script src="/static/moment.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/bootstrap.min.js"></script>
    <!-- 加载 Bootstrap-datetimepicker 。 -->
    <script src="/static/bootstrap/js/transition.js"></script>
    <script src="/static/bootstrap/js/collapse.js"></script>
    <script src="/static/bootstrap-datetimepicker.min.js"></script>
    <!-- 加载 Bootstrap-typeahead -->
    <script src="/static/bootstrap3-typeahead.min.js"></script>
    <!-- 引入 ECharts 文件 -->
    <script src="/static/echarts/echarts.min.js"></script>
    <!-- 引入 query 文件 -->
    <script src="/static/query.js"></script>

    {% block scripts %}
    {%- endblock scripts %}

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">

    {%- block styles %}
    {%- endblock styles %}

    {%- endblock head %}
</head>
<body {% block body_attribs %}{% endblock body_attribs %}>
{% block body -%}

{% block navbar -%}
<div class="container">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Twitter Graph</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Event<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <li><a href="event/user">Event user</a></li>
                        <li><a href="event/topic">Event topic</a></li>
                        <li><a href="event/info">Event top N topic</a></li>
                        <li><a href="event/neighbor">Event neighbor</a></li>
                    </ul>
                </li>
                <li><a href="user">User</a></li>
                <li><a href="topic">Topic</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./">About<span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
    </nav>
</div>
{%- endblock navbar %}

<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    {% block content -%}
    {%- endblock content %}

    <div class="jumbotron">
        <h2>Search result.</h2>
        <div id="result" class="row" style="height:500px;"></div>
    </div>
</div> <!-- /container -->

<footer class="container">
    <div class="container-item">
        <center><h4 class="text-muted">2020.12</h4></center>
    </div>
</footer>
</body>
{%- endblock body %}
{%- endblock html %}
</html>
{% endblock doc -%}
