{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}Events{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block body %}{{ super() }}{% endblock %}

{% block scripts %}
    <script src="/static/query.js"></script>
{% endblock scripts %}

{% block content %}
<div class="jumbotron">
    <h1>Event search.</h1>
    <form class="form form-horizontal" method="post" role="form">
        <div class="form-item">
            <div class="form-item-content-wrapper">
                <input id="event-id" type="hidden" value="">
                {{ form.name() }}
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-content-wrapper">
                <div class="form-item-label">
                    <span>Time from:</span>
                </div>
                <span class="form-calender-picker">
                    <div class="form-item-input row col-sm-6">{{ form.s_time() }}</div>
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-content-wrapper">
                <div class="form-item-label">
                    <span>to</span>
                </div>
                <span class="form-calender-picker">
                        <div class="form-item-input row col-sm-6">{{ form.e_time() }}</div>
                        <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
        <input type="button" id="submit" onclick="event_user()" value="查 询" >
    </form>
    <script>
        $(function() {
            event_user_page();
        });
    </script>
</div>
<div class="jumbotron">
    <h2>Search result.</h2>
    <div id="result" class="row" style="height:500px;"></div>
</div>
{% endblock content %}

