{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}Events{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block body %}{{ super() }}{% endblock %}

{% block scripts %}
<script src="../static/query.js"></script>
{% endblock scripts %}

{% block content %}
<div class="jumbotron">
    <h1>Event graph</h1>
    <p>1. To see how many people PARTICIPARE in this event</p>
    <p>2. To see how many topics PRODUCE from this event</p>
    <p>3. To see level n neighbor to this event</p>
    <p>4. To see top n topic related to this event</p>
    <p><a class="btn btn-lg btn-primary" href="" role="button">View docs &raquo;</a></p>
</div>
<div class="jumbotron">
    <h1>Event search.</h1>
    <form class="form form-horizontal" method="post" role="form">
        <div class="form-item">
            <div class="form-item-label">
                {{ form.name.label }}
            </div>
            <div class="form-item-content-wrapper">
                {{ form.name() }}
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-label">
                <span>Time from:</span>
            </div>
            <div class="form-item-content-wrapper">
                <span class="form-calender-picker">
                    <div class="form-item-input">{{ form.s_time() }}</div>
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-label">
                <span>to</span>
            </div>
            <div class="form-item-content-wrapper">
                <span class="form-calender-picker">
                    <div class="form-item-input">{{ form.e_time() }}</div>
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
            <input type="button" id="submit" onclick="event_user()" value="查 询" >
    </form>
</div>
<div class="jumbotron">
    <h1>Search result.</h1>
    <div id="result" style="width: 600px;height:400px;"></div>
</div>

{% endblock content %}

